<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextResultz | Dashboard</title>
    <link rel="icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../assets/css/studentDashboard.css">
    <script src="https://kit.fontawesome.com/552542671f.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <div class="nav">
        <i class="fa-solid fa-house"></i>
        <div class="headin">NextResultz !</div>
        <a href="/logout" class="anchor-tag-sd"><i class="fa fa-power-off" ></i></a>
    </div>
    <div class="main">
        
            <div class="left">
                <div class="edit">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="info">
                    <div class="profile"></div>
                    <div class="name">
                        <p><%= name %></p>
                    </div>
                    <div class="year-branch">
                        <div class="stream">
                            <p><%= branch %></p>
                        </div>
                        <div class="year">
                            <p>2020-2024</p>
                        </div>
                    </div>
                </div>
                <div class="more-info">
                    <div class="prn">
                        <div class="prn-name">PRN</div>
                        <div class="prn-student"><%= prn %></div>
                    </div>
                    <div class="sem">
                        <div class="sem-name">Semester</div>
                        <div class="sem-student"><%= sem %></div>
                    </div>
                    <div class="email">
                        <div class="email-name">Email</div>
                        <div class="email-student"><%= email %></div>
                    </div>
                    <div class="phone">
                        <div class="phone-name">Phone</div>
                        <div class="phone-student"><%= phone %></div>
                    </div>
                </div>
            
        </div>
        <div class="right">
            <div class="right-topp">
                <div class="right-top">
                    <div class="head">
                        <p>Get Your Result</p>
                    </div>
                    <div class="container">
                        <div class="content">
                            <form action="#">
                                <div class="user-details">
                                    <div class="input-box">
                                        <span class="details">Semester</span>
                                        <select required name="sem" id="sem">
                                            <option disabled selected value> - select semester - </option>
                                            <option value="I">Sem I</option>
                                            <option value="II">Sem II</option>
                                            <option value="III">Sem III</option>
                                            <option value="IV">Sem IV</option>
                                            <option value="V">Sem V</option>
                                            <option value="VI">Sem VI</option>
                                            <option value="VII">Sem VII</option>
                                            <option value="VIII">Sem VIII</option>I
                                        </select>
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="right-top2">
                    <div class="head">
                        <p>Get Your Marksheet</p>
                    </div>
                    <div class="container">
                        <div class="content">
                            <form action="#">
                                <div class="user-details">
                                    <div class="input-box">
                                        <span class="details">Select marksheet year</span>
                                        <select required name="sem" id="sem">
                                            <option disabled selected value> - select year - </option>
                                            <option value="1st Year">1st Year</option>
                                            <option value="2nd Year">2nd Year</option>
                                            <option value="3rd Year">3rd Year</option>
                                            <option value="4th Year">4th Year</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" value="Get">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-mid">
                <h2>Please Select the sem to display the result :)</h2>
            </div>
            <div class="right-bottom">
                <div class="head">
                    <p>Here is your result!</p>
                </div>
                <h2>CGPA: 9.2 <i><span>( till <%= sem%> Sem )</span></i></h2>
                <table class="table-name">
                    <tr>
                        <th>Name: <span><%= name%></span></th>
                        <th>PRN: <span><%= prn%></span></th>
                    </tr>
                    <tr>
                        <th>Sem: <%= sem%></th>
                        <th>Branch: <%= branch%></th>
                    </tr>
                </table>
                <hr>
                <table class="table-grades">
                    <tr>
                        <th>Subject</th>
                        <th>Grade</th>
                    </tr>
                    <tr>
                        <td>Database System</td>
                        <td class="grades">A+</td>
                    </tr>
                    <tr>
                        <td>Introduction to Intelligent system</td>
                        <td class="grades">B+</td>
                    </tr>
                    <tr>
                        <td>System Software</td>
                        <td class="grades">A</td>
                    </tr>
                    <tr>
                        <td>Computer Networks</td>
                        <td class="grades">B</td>
                    </tr>
                    <tr>
                        <td>Envictonmental Studies</td>
                        <td class="grades">C</td>
                    </tr>
                </table>
                <h2 class="sgpa">SGPA: 8.9</h2>
                <h3> <i>Result: Pass</i></h3>
                <h5 class="percentile"> <i>*Top among <span>98.76</span> percentile from your batch in
                        sem <span><%=sem%></span>.</i></h5>
            </div>
        </div>
    </div>
</body>

</html>